#about-background {
  background: url('pizz.jpg') no-repeat;
  background-size:cover;
}

#front-page {
    background: url('restaurant-background.jpg') no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    top: 35%;
}

body {
    font-family:  'Italiana', serif;
    font-weight: 700;

}