{% extends 'customer/base.html' %}

{% block  content %}
<div class='container g-0 p-0' id="about-background" >
    <div class='row justify-content-center pt-5' >
        <div class='card col-md-8 col-sm-12 text-center'>
            <!-- {% lorem 8 p %} -->
            <p>Welcome to our cozy Italian pizza and pasta restaurant! Our menu is a celebration of traditional Italian
                cuisine, with a focus on the comforting flavors of freshly made pizza and pasta.</p>
            <p>Our pizzas are baked to perfection in our wood-fired oven, resulting in a crispy yet chewy crust with
                delicious toppings like savory Italian sausage, fresh basil, and tangy sun-dried tomatoes. Our pasta
                dishes are equally tempting, with classics like spaghetti carbonara and linguine bolognese, as well as
                more unique options like pumpkin ravioli with brown butter sauce.</p>
            <p>For dessert, we offer a variety of sweet treats that are sure to satisfy your cravings. Indulge in our
                creamy gelato, available in a variety of flavors like pistachio and hazelnut. Or try our decadent
                cheesecake, with its rich and creamy filling and buttery graham cracker crust. And for all the chocolate
                lovers out there, our chocolate brownies are a must-try, with their fudgy texture and rich chocolate
                flavor.</p>
            <p>
                Whether you're stopping by for a quick lunch or a leisurely dinner with friends and family, we aim to
                provide an authentic Italian dining experience that will transport you straight to the streets of Naples
                or Rome. So come join us at our restaurant and indulge in the rich flavors of Italy, as well as our
                delicious selection of desserts!</p>
        </div>
    </div>
</div>
{% endblock content %}